name: Security Pipeline

on:
  push:
    branches: [ "master" ]

jobs:
  security-scans:
    name: Run Security Scans
    runs-on: ubuntu-latest

    env:
      PROJECT_NAME: stacy-api
      BUILD_NUMBER: ${{ github.run_number }}
      REPORT_PATH: reports
      ZAP_TARGET_URL: https://project.tech/login
      DEFECTDOJO_HOST: http://localhost:8080

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create report directories
        run: |
          mkdir -p $REPORT_PATH/horusec
          mkdir -p $REPORT_PATH/snyk
          mkdir -p $REPORT_PATH/owaspzap

      # --------------------
      # Horusec (SAST)
      # --------------------
      - name: Run Horusec (Container)
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/src \
            -v ${{ github.workspace }}/$REPORT_PATH/horusec:/reports \
            horuszup/horusec-cli:latest \
            horusec start -D \
              -p /src \
              -o json \
              -O /reports/horusec-report-${PROJECT_NAME}-${BUILD_NUMBER}.json || true

      # --------------------
      # Snyk (SCA)
      # --------------------
      - name: Run Snyk (Container)
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        run: |
          docker run --rm \
            -e SNYK_TOKEN=$SNYK_TOKEN \
            -v ${{ github.workspace }}:/project \
            snyk/snyk:docker \
            snyk test --file=requirements.txt \
              --json-file-output=/project/$REPORT_PATH/snyk/snyk-report-${PROJECT_NAME}-${BUILD_NUMBER}.json || true

      # --------------------
      # OWASP ZAP (DAST)
      # --------------------
      - name: Run OWASP ZAP Baseline
        run: |
          docker run --rm --root \
            -v ${{ github.workspace }}/$REPORT_PATH/owaspzap:/zap/wrk \
            ghcr.io/zaproxy/zaproxy:stable \
            zap-baseline.py \
              -t $ZAP_TARGET_URL \
              -r owaspzap-report-${PROJECT_NAME}-${BUILD_NUMBER}.html || true

  # upload-defectdojo:
  #   name: Upload Reports to DefectDojo
  #   runs-on: ubuntu-latest
  #   needs: security-scans

  #   env:
  #     DEFECTDOJO_TOKEN: ${{ secrets.DEFECTDOJO_TOKEN }}
  #     DEFECTDOJO_HOST: http://localhost:8080
  #     ENGAGEMENT_ID: ${{ secrets.DEFECTDOJO_ENGAGEMENT_ID }}
  #     PROJECT_NAME: stacy-api
  #     BUILD_NUMBER: ${{ github.run_number }}

  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v4

  #     - name: Upload Horusec Report
  #       run: |
          
#           python3 <<EOF
# import requests, os

# url = f"{os.environ['DEFECTDOJO_HOST']}/api/v2/import-scan/"
# headers = {"Authorization": "Token " + os.environ["DEFECTDOJO_TOKEN"]}
# payload = {
#   "scan_date": "2025-07-08",
#   "minimum_severity": "Info",
#   "active": "true",
#   "verified": "true",
#   "scan_type": "Horusec",
#   "engagement": os.environ["ENGAGEMENT_ID"]
# }
# files = {
#   "file": open(f"reports/horusec/horusec-report-{os.environ['PROJECT_NAME']}-{os.environ['BUILD_NUMBER']}.json","rb")
# }
# r = requests.post(url, headers=headers, data=payload, files=files)
# print("Horusec:", r.status_code, r.text)
# EOF

#       - name: Upload Snyk Report
#         run: |
#           python3 <<EOF
# import requests, os

# url = f"{os.environ['DEFECTDOJO_HOST']}/api/v2/import-scan/"
# headers = {"Authorization": "Token " + os.environ["DEFECTDOJO_TOKEN"]}
# payload = {
#   "scan_date": "2025-07-08",
#   "minimum_severity": "Info",
#   "active": "true",
#   "verified": "true",
#   "scan_type": "Snyk",
#   "engagement": os.environ["ENGAGEMENT_ID"]
# }
# files = {
#   "file": open(f"reports/snyk/snyk-report-{os.environ['PROJECT_NAME']}-{os.environ['BUILD_NUMBER']}.json","rb")
# }
# r = requests.post(url, headers=headers, data=payload, files=files)
# print("Snyk:", r.status_code, r.text)
# EOF
